<% include partials/header%>
<br>
<h1>
	Pricing for Premium Subscription
</h1>
<table class="table table-striped table-bordered table-hover" width="500">
	<tr><th>Duration</th><th>Price $ </th></tr>
<%  Object.keys(result).forEach(function(key) { 
    var row = result[key];%>
	<tr>
    <td><%=row.duration%></td>
	<td><%=row.price%></td>
	</tr>
    <%});%>
		
	
</table>

    
<%include partials/footer%>