<!DOCTYPE html>
<html>
	<head>
		<title>News_website</title>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-				BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montez" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
		<script>
			var obj={
			xhr:new XMLHttpRequest(),
			send:function()
			{
				obj.xhr.open("get","/testdata",true);
				obj.xhr.onloadend=obj.dispdata;
				obj.xhr.send();
			},
			dispdata:function()
			{
				console.log(obj.xhr.response);
				
			}
		}
	</script>
	</head>
	<body onload="obj.send()">
		 <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <div id="navbar-brand" style="padding-top: 5px;">
                        <a href="/home" style="text-decoration: none;color: white">
                            <h2 style="font-family: 'Montez', cursive;margin: 1px 1px"><i class="fas fa-keyboard"></i> The Millenial Print</h2>
                        </a>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="/about">About Us</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
						<li><a href="/pricing">Pricing</a></li>
						<li><a href="/newsfeed">RSS Feeds</a></li>
						<li><a href="/home/new">Create Post</a></li>
                        <%    if(!currentUser){ %>
                        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="/signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        <% } else{ %>
                        <li><a href="#">Signed In As <%=currentUser.username %></a></li>
                        <li><a href="/signout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        <% }%>
                    </ul>
                </div>
            </div>
        </nav>
<header height="40px">
    <div class="container ">
        <div class="jumbotron" style="background-image:url(https://images.unsplash.com/photo-1517218313419-97711ffe5493?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60); background-size: cover;">
            <div class="container">
                <h1 style="font-family: 'Montez', cursive; color: azure"><i class="fas fa-keyboard"></i> The Millenial Print</h1>
                <h4 style="font-family: 'Montez', cursive;color: azure; font-size: 2em;">If it's Millenial,you know you can trust it</h4>
            </div>
        </div>
    </div>
</header>
<hr>

<% include partials/footer %>

	<script>
			
	
